<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <div>
    <h2>Products</h2>

    <div *ngFor="let item of products">
      <h3>
        <a [title]="item.name + 'details'">
          {{ item.name }}
        </a>
      </h3>

      <p *ngIf="item.description">
        description: {{ item.description }}
      </p>

      <button type="button" (click)="share()">
        share
      </button>

      <app-product-alerts [product]="item" (notify)="onNotify()"></app-product-alerts>
    </div>
  </div>
</body>
</html>
